Required software to run this application

Windows 7,8,10
Python 3.9.2
Pip 21.0.1
Fastapi 0.63.0
Fastapi sqlalchemy
Tk & Tkinter Libraries
MySQL 8.0

Additional:
PyCharm IDE 2020.3.5 (for code development)
MySQL Workbench 8.0.22 (part of unit testing - backend validation)